{% extends 'base.html' %}

<h2>Edit Tag</h2>

{% block content %}
<form action="{{url_for('tags_show', tag_id=tag.id)}}?_method=PATCH" method='POST'>
    <div>
        <label for"tag_content">Tag:
        </label>
        <input id="tag_content" name="tag_content" type="text" value="{{ found_tag.tag_content }}"" placeholder="edit tag"/>
      </div>
      
  <button type="submit" class="btn btn-primary">Update Tag</button>
  </form>

  <div>
    <form action="{{ url_for('tags_show', tag_id=tag.id) }}?_method=DELETE" method='POST'>
    <button type="submit" class="btn btn-danger btn-sm">DELETE TAG</button>
    </form>
  </div>
  
  </form>

{% endblock%}