{% extends 'base.html' %}

{% block content %}
<h2>Messages with {{ tag.content }} tags:</h2>
<div>
  {% for message in tag.messages %}
  <a href="{{ url_for('messages_show', message_id=message.id) }}">{{ message.content }}</a> - {{ message.user.first_name }} {{ message.user.last_name}}
  {% endfor %}
<div>
  
</div>

<div>
    <form action="{{ url_for('tags_editform', tag_id=tag.id) }}" method='GET'>
    <button type="submit" class="btn btn-success">Edit Tag</button>
    </form>
  </div>

  <div>
      <form action="{{ url_for('tags_new') }}" method='GET'>
      <button type="submit" class="btn btn-info">Create New Tag</button>
      </form>
    </div>

<div>
    <form action="{{ url_for('tags_index') }}" method='GET'>
    <button type="submit" class="btn btn-primary">All tags</button>
    </form>
  </div>

{% endblock %}