body {
  margin: 1%;
  background-color: #fbfafa;
}

header {
  text-align: center;
}

.form-group,
#submitButton {
  margin-left: 10%;
  margin-right: 10%;
}

.container {
  margin-top: 3%;
  margin-left: 20%;
  padding-right: 25%;
}

.story-list-item a {
  padding-left: 2%;
}
