header {
  text-align: center;
  padding-top: 1%;
}

body {
  background-color: #dee0de;
}

#searchterm {
  /* width: 40%; */
  margin-bottom: 1%;
}

.form-group {
  padding: 2%;
}

form {
  display: flex;
  justify-content: center;
}
