{% extends 'base.html' %}

{% block content %}
<h3>User info for {{ user.first_name }}</h3>
<div>
  <ul>
    <li>First Name: {{ user.first_name }}:</li>
    <li>Last Name: {{ user.last_name}}</li>
    </ul>
  </div>

<div>
  
</div>

<div>
    <form action="{{ url_for('users_edit', user_id=user.id) }}" method='GET'>
    <button type="submit" class="btn btn-success">Edit User Info</button>
    </form>
  </div>

  <div>
      <form action="{{ url_for('messages_new', user_id=user.id) }}" method='GET'>
      <button type="submit" class="btn btn-info">Write New Message</button>
      </form>
    </div>

<div>
    <form action="{{ url_for('messages_index', user_id=user.id) }}" method='GET'>
    <button type="submit" class="btn btn-primary">See {{ user.first_name }}'s messages</button>
    </form>
  </div>

{% endblock %}