{% extends 'base.html' %}

{% block content %}
<h2>{{ user.first_name }}'s Messages:</h2>


<div>
  <ul>
    {% for message in user.messages %}
    <li><a href="{{ url_for('messages_show', user_id=user.id, message_id=message.id) }}">{{ message.content }}</a></li>
    {% endfor %}
  </ul>
  
</div>


<div>
    <form action="{{ url_for('messages_new', user_id=user.id) }}" method='GET'>
    <button type="submit" class="btn btn-primary">Write New Message</button>
    </form>
  </div>
<!-- button to delete user -->
<!-- button to send to edit user -->
<!-- nav button to main? -->


{% endblock %}

