{% extends 'base.html' %}

{% block content %}


<div>
<h4>{{ message.user_id.first_name }} wrote:</h4>
 <P>message: {{ message.content }}</P>
<div>
  {% for tag in message.tags %}
  <a href="{{ url_for('tags_show', tag_id=tag.id) }}">tags: {{ tag.content }}</a>
  {% endfor %}
</div>

</div>


<div>
    <form action="{{ url_for('messages_editform', message_id=message.id) }}" method='GET'>
    <button type="submit" class="btn btn-success">Edit Message</button>
    </form>
    <form action="{{ url_for('messages_index', user_id=message.user_id) }}" method='GET'>
        <button type="submit" class="btn btn-success">Back to Message List</button>
    </form>
    
  </div>

{% endblock %}